body {
  background-color: #292929;
  color: #F2E6B6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
}

#navbar {
  text-align: center;
  overflow: hidden;
}


/* Links inside the navbar */

.navbar a {
  display: flex;
  justify-content: center;
  float: left;
  font-size: 16px;
  color: #5B7876;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


/* The dropdown container */

.dropdown {
  float: left;
  overflow: hidden;
}


/* Dropdown button */

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #5B7876;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
}


/* Add a red background color to navbar links on hover */

.navbar a:hover,
.dropdown:hover .dropbtn {
  text-decoration: underline;
}


/* Dropdown content (hidden by default) */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #292929;
  min-width: 160px;
  z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
  float: none;
  color: #5B7876;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar-box {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.website-logo {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.joejenkinsonlogo {
  height: auto;
  width: 35%;
}

p {
  text-align: center;
}

em {
  color: #8F9E8B;
  font-weight: bold;
}

#portfolio-thumbnails {
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headshot {
  height: auto;
  width: 40%;
  float: left;
  padding: 2rem;
}

.article-text {
  padding-right: 10px;
  float: right;
}

.kit-list-text {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
}

.portfolio-cover {
  border: 0.5rem solid #412A22;
  width: auto;
  height: 20rem;
  margin: 1.5rem;
}

.pano-cover {
  width: auto;
  height: 20rem;
  border: 0.5rem solid #412A22;
}

.portfolio-border:hover {
  border: 0.5rem solid #8F9E8B;
  color: #8F9E8B;
}

.portfolio-border:hover {
  border: 0.5rem solid #8F9E8B;
}

#top-portfolio {
  display: flex;
  justify-content: center;
  width: auto;
  height: 20rem;
  padding-bottom: 2.5rem;
}

.pano-container {
  position: relative;
  text-align: center;
}

.landscape-container {
  position: relative;
  text-align: center;
}

.animals-container {
  position: relative;
  text-align: center;
}

.drone-container {
  position: relative;
  text-align: center;
}

.centered {
  color: #F2E6B6;
  text-shadow: #292929 5px 0 5px;
  font-size: larger;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%, -50%);
}