#bootstrap-override {
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding-top: 10px;
}

#navbar-nav {
  color: red;
}

#nav-style  {
    display: block;
    width: 75%;
    padding-left: 10rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: white;
}

nav {
  color: black;
}

.headshot {
  max-height: 300px;
  float: left;
}

.logo1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-height: 450px;
    max-width: auto;
}

h1 {
    font-size: 3em;
    color: black;
}

.homepage-header {
  padding-bottom: 2rem;
}

.article-container {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    justify-content: center;
}

.row > .column {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }

  .dropdown-item {
    color: gray;
  }
  
  img.demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
