<div class="website-logo">

    <img class="joejenkinsonlogo"
         src="gallery1/joe-light_2k.png"
         alt="Joe Jenkinson Photography logo">

</div>

<div class="topnav" id="myTopnav">

    <a href="index.html" class="active">
        Home
    </a>

    <div class="dropdown">

        <button class="dropbtn">
            Galleries
            <i class="fa fa-caret-down"></i>
        </button>

        <div class="dropdown-content">

            <div class="dropdown-content-inner">

                <a href="landscape.html">Landscapes</a>
                <a href="animals.html">Wildlife</a>

            </div>

        </div>

    </div>

    <a href="prints.html">Prints</a>
    <a href="aboutme.html">About</a>
    <!-- <a href="store.html">Store</a> -->
    <!-- <a href="contact.html">Contact</a> -->

    <a href="javascript:void(0);"
       class="icon"
       onclick="myFunction()">
        &#9776;
    </a>

</div>